{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-sm-12 col-sm-offset-3">
		<style type="text/css">
			.text-align-center{
				text-align: center;
			}
		</style>
		<h2 class="text-align-center"><strong>Nuestra Historia</strong></h2>
		<style type="text/css">
			.text-align-center{
				text-align: center;
			}
		</style>
		<p class="text-align-center"> Es una histora un poco larga y me da pereza escribir mucho más la verdad</p>
		<p class="text-align-center"> skmskdkdnkdnd</p>	
		<p class="text-align-center"> skmskdkdnkdnd</p>
		<p class="text-align-center"> skmskdkdnkdnd</p>
		<p class="text-align-center"> skmskdkdnkdnd</p>
		<p class="text-align-center"> skmskdkdnkdnd</p>
	</div>
</div>
{% endblock %}