{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block head_title %}Welcome{% endblock %}


{% block jumbotron %}

{% if request.user.is_staff %}
<table class="table">
{% for instance in queryset %}
<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.nombre }}</td><td>hace {{ instance.timestamp|timesince }}</td></tr><br/>
{% endfor %}
</table>
{% else %}

<div class="jumbotron">
<main role="main" class="container-fluid">
<div class='row'>
	<div class='col-sm-6'>
          <h1>Prueba Django 3.0.5</h1>
          <p class="lead text-align-center">Esta página está creada a partir del proyecto Django para
          el módulo de Lenguaje de Marcas.</p>
          <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">Probar aquí &raquo;</a>
    </div>
<div class="col-sm-6" ><iframe width="560" height="315" src="https://www.youtube.com/embed/c9W839Rey6E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</div>
</main>
{% endif %}
{% endblock %}

{{ block.super }}
Inicia sesion

<!--<h1>Hola mundo</h1>-->
{{ titulo }} <br/>
{{ request.user }}
<hr/>
<br/>


{% block content %}
{% if not request.user.is_staff %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		{% if not user.is_authenticated %}
		<p class="lead text-align-center">Subscríbete</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input type="submit" name="Enviar" />
		</form>
		{% else %}
		<p class="lead text-align-center">{{ titulo }}<br/><br/><i class="fab fa-python fa-5x"></i>
</p>
		{% endif %}
	</div>
		<div class="col-sm-6">
			<p class="lead text-align-center">Creado con django 3.0.5<i class="fas fa-spin fa-anchor"></i><i class="fab fa-twitter-square"></i></p>
		<div class="col-sm-12">
			<p class="lead text-align-center">Para Lenguaje de Marcas<i class="fas fa-spin fa-anchor"></i><i class="fab fa-twitter-square"></i></p>


</p>
</div>
</div>
</div>
{% endif %}
{% endblock %}
