{% extends "base.html"%}
{% load crispy_forms_tags %}

{% block head_title %}Welcome{% endblock %}

{% block jumbotron %}
<div class="jumbotron">

<div class='row'>
	<div class='col-sm-6'>
          <h1>Prueba Django 3.0.5</h1>
          <p class="lead text-align-center">Esta página está creada a partir del proyecto Django para
          el módulo de Lenguaje de Marcas.</p>
          <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">Probar aquí &raquo;</a>
    </div>
<div class="col-sm-6" style="background-color: black; height: 300px;"></div>
</div>
</div>
{% endblock %}

{{ block.super }}
Inicia sesion

<!--<h1>Hola mundo</h1>-->
{{ titulo }} <br/>
{{ request.user }}
<hr/>
<br/>


{% block content %}
<p>{{ titulo }}</p>
<form method="POST" action="">{% csrf_token %}
{{ el_form|crispy }}
<input type="submit" name="Enviar" />
</form>
{% endblock %}
